<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <display-name>Rest APIs using JAX-RS</display-name>
    <servlet>
        <servlet-name>jersey-servlet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.jaxrs.resource,
                io.swagger.jaxrs.listing</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.wadl.disableWadl</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey-servlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Jersey2Config</servlet-name>
        <servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>1.0.0</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.basepath</param-name>
            <param-value>/rest</param-value>
        </init-param>
        <!--<init-param>
            <param-name>swagger.filter</param-name>
            <param-value>com.jaxrs.config.ApiAuthorizationFilterImpl</param-value>
        </init-param>-->
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>SwaggerConfigUsingServlet</servlet-name>
        <servlet-class>com.jaxrs.config.SwaggerConfigUsingServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <!--<filter>
        <filter-name>ApiOriginFilter</filter-name>
        <filter-class>com.jaxrs.config.ApiOriginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ApiOriginFilter</filter-name>
        <url-pattern>/rest/*</url-pattern>
    </filter-mapping>-->
</web-app>